aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
irc==19.0.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.logging==3.0.0
jaraco.stream==3.0.0
jaraco.text==3.2.0
more-itertools==8.5.0
multidict==4.7.6
pytz==2020.1
requests==2.24.0
six==1.15.0
tempora==4.0.0
urllib3==1.25.10
websockets==8.1
yarl==1.5.1
